In [383]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
from datetime import datetime
import pandas as pd

In [385]:
def get_num(s):
        digits = ""
        for char in s:
            if char.isdigit():
                digits += char
        return int(digits) if digits else None

In [387]:
def clean_text(text):
    lines = [line.strip() for line in text.split("\n") if line.strip()]
    return ", ".join(lines)

In [389]:
driver = webdriver.Chrome()
driver.get('https://www.hiddenvillagembp.com/floorplans')

time.sleep(5)
page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
driver.quit()

In [391]:
floorplans = []
beds = []
bathrooms = []
areas = []
diva = soup.select('.card-header h2')
for i in diva:
    floorplans.append(clean_text(i.text))

diva = soup.select('.nu-bed')
for i in diva:
    beds.append(get_num(i.parent.text))

diva = soup.select('.nu-bathroom')
for i in diva:
    bathrooms.append(get_num(i.parent.text))

diva = soup.select('.nu-area')
for i in diva:
    areas.append(get_num(i.parent.text))

results = []
for i in range(len(floorplans)):
    results.append({
        'floorplan': floorplans[i],
        'bedrooms': beds[i],
        'bathrooms': bathrooms[i],
        'area': areas[i]
    })

In [394]:
plansurl=[]
availabile = soup.find_all(lambda tag: tag.name == "a" and "AVAILABILITY" in tag.text)
for i in availabile:
    plansurl.append("https://www.hiddenvillagembp.com"+i.get("href"))

plansurl=list(set(plansurl))
print(plansurl)

['https://www.hiddenvillagembp.com/floorplans/taylor', 'https://www.hiddenvillagembp.com/floorplans/glendale', 'https://www.hiddenvillagembp.com/floorplans/elgin']

In [403]:
def scrape(url): 
    driver = webdriver.Chrome()
    driver.get(url)
    time.sleep(5)
    page_source = driver.page_source
    soup = BeautifulSoup(page_source, "html.parser")

    rows=[]

    diva=soup.find('div',id="availApts")
    apartment=diva.find_all('div',class_='card')
    apartment=soup.select('div#availApts  div.card')
    #print(apartment)
    for i in apartment:
        #print(i)
        dicti={}
        dicti['ID']=get_num(i.select('h3 > span')[0].text)
        date=i.select('p >span')[0].text
        try:
            date=datetime.strptime(date).date()
        except (ValueError, TypeError):
            date=datetime.today().date()
        dicti['Availaible']=date
        dicti['Price']=get_num(i.select('p')[1].text)
        rows.append(dicti)


    info={'bedrooms':'nu-bed','bathrooms':'nu-bathroom','area':'nu-area'}
    for i in rows:
        for key, value in info.items():
            i[key]=get_num(soup.find(class_=value).parent.text)

        i['floorplan']=clean_text(soup.find('h2' ,class_="h3 font-weight-normal").text)
        
        
        #amneities=''
        #li = soup.find(lambda tag: tag.name == "h2" and 'Features & Amenities' in tag.text).parent
        #li=li.find_all('li')
        #for j in li:
            #amneities+=j.text
        #i['Amnesities']=clean_text(amneities)
    driver.quit()
    return rows

In [405]:
def update(new):
    for i, apt in enumerate(results):
        if apt.get('floorplan') == new.get('floorplan')and len(apt)==4 :
            results[i] = new
            return
    results.append(new)

In [407]:

for url in plansurl:
    for i in scrape(url):
        update(i)

[{'floorplan': 'Bellvue', 'bedrooms': 3, 'bathrooms': 2, 'area': 1447}, {'floorplan': 'Camden', 'bedrooms': 3, 'bathrooms': 2, 'area': 1532}, {'ID': 60, 'Availaible': datetime.date(2025, 7, 10), 'Price': 2235, 'bedrooms': 4, 'bathrooms': 2, 'area': 1653, 'floorplan': 'Elgin'}, {'ID': 74, 'Availaible': datetime.date(2025, 7, 10), 'Price': 2175, 'bedrooms': 4, 'bathrooms': 2, 'area': 1729, 'floorplan': 'Glendale'}, {'floorplan': 'Huntsville', 'bedrooms': 4, 'bathrooms': 2, 'area': 1790}, {'floorplan': 'Texas Cali', 'bedrooms': 4, 'bathrooms': 2, 'area': 1836}, {'ID': 5, 'Availaible': datetime.date(2025, 7, 10), 'Price': 2735, 'bedrooms': 5, 'bathrooms': 2, 'area': 2001, 'floorplan': 'Taylor'}, {'ID': 34, 'Availaible': datetime.date(2025, 7, 10), 'Price': 2244, 'bedrooms': 4, 'bathrooms': 2, 'area': 1653, 'floorplan': 'Elgin'}]

In [409]:
df2=pd.DataFrame(results)
df2

    floorplan  bedrooms  bathrooms  area    ID  Availaible   Price
0     Bellvue         3          2  1447   NaN         NaN     NaN
1      Camden         3          2  1532   NaN         NaN     NaN
2       Elgin         4          2  1653  60.0  2025-07-10  2235.0
3    Glendale         4          2  1729  74.0  2025-07-10  2175.0
4  Huntsville         4          2  1790   NaN         NaN     NaN
5  Texas Cali         4          2  1836   NaN         NaN     NaN
6      Taylor         5          2  2001   5.0  2025-07-10  2735.0
7       Elgin         4          2  1653  34.0  2025-07-10  2244.0